---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Offer from "../components/Offer.astro";
import ActOne from "../components/ActOne.astro";
import Parable from "../components/Parable.astro";
import Procurement from "../components/Procurement.astro";
import ActFour from "../components/ActFour.astro";
import HvacShelf from "../components/HvacShelf.astro";
import Team from "../components/Team.astro";
import Harmonizer from "../components/Harmonizer.astro";
import Proof from "../components/Proof.astro";
import HowYouPay from "../components/HowYouPay.astro";
import Floor from "../components/Floor.astro";
import Estimator from "../components/Estimator.astro";
import Success from "../components/Success.astro";
import Plan from "../components/Plan.astro";
import WhoWeWork from "../components/WhoWeWork.astro";
import FinalCta from "../components/FinalCta.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Header />
  <main id="main">
    <Hero />
    <Offer />
    <ActOne />
    <Parable />
    <Procurement />
    <ActFour />
    <Harmonizer />
    <Proof />
    <HvacShelf />
    <Team />
    <HowYouPay />
    <Floor />
    <Estimator />
    <Success />
    <Plan />
    <WhoWeWork />
    <FinalCta />
  </main>
  <Footer />
</Base>
